.header-content{
    min-height: 100vh; /* Change min-height to 100vh */
    background: url("../../images/library-img.jpg") center/cover no-repeat; /* Remove the gradient color and only display the image */
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
    color: white; /* Set the font color to white */

}
.header-text {
    color: white;
  }
  
.header-text{
    margin-top: -1rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    color: white; /* Set the font color to white */
}
.header-title {
    margin-bottom: 15rem;
  }
  
  .header-text {
    margin-top: -15rem;
  }
  